<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <!-- Left side: Menu toggle and Logo -->
    <div class="toolbar-left">
      <button matIconButton (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
     <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>-->
      <div class="logo-container">
       <!-- <span class="material-symbols-outlined">polymer</span>-->
       <!-- <img
          [ngSrc]="imagePath"
          alt="Logo"
          class="logo"
          height="40"
          width="120"
          priority="low"
        />-->
      </div>
    </div>

    <!-- Right side: User menu -->
    <div class="toolbar-right">
      <button class="user-menu-button" matButton [matMenuTriggerFor]="userMenu">
        {{ username || 'User' }}
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
      <!--  <div class="user-menu-header">
          Username <strong>{{ username }}</strong>

        </div>-->
        <div class="user-menu-header">
        Role <strong>{{ userRole }}</strong>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/api/vehicles']" routerLinkActive="active">Vehicles</a>
        <a mat-list-item [routerLink]="['/api/posts']" routerLinkActive="active">Posts</a>
        <a mat-list-item [routerLink]="['/api/banks']" routerLinkActive="active">Banks</a>
        <a mat-list-item>Calendar</a>
        <a mat-list-item>Documents</a>
        <a mat-list-item>Reports</a>
        <a mat-list-item>Tasks</a>
        <a mat-list-item>Settings</a>
        <a mat-list-item>Help</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
