<h2 mat-dialog-title>{{ data ? 'Edit Vehicle' : 'Add Vehicle' }}</h2>

<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Brand</mat-label>
    <input matInput formControlName="brand"/>
    @if (vehicleForm.controls['brand'].hasError('required')) {
      <mat-error>Brand is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Model</mat-label>
    <input matInput formControlName="model"/>
    @if (vehicleForm.controls['model'].hasError('required')) {
      <mat-error>Model is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Year Produced</mat-label>
    <input matInput type="number" formControlName="yearProd"/>
    @if (vehicleForm.controls['yearProd'].hasError('required')) {
      <mat-error>Year is required</mat-error>
    } @else if (vehicleForm.controls['yearProd'].hasError('min')) {
      <mat-error>Year must be after 1900</mat-error>
    } @else if (vehicleForm.controls['yearProd'].hasError('max')) {
      <mat-error>Year cannot be in the future</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Color</mat-label>
    <mat-select formControlName="color">
      <mat-option value="White">White</mat-option>
      <mat-option value="Black">Black</mat-option>
      <mat-option value="Gray">Gray</mat-option>
      <mat-option value="Red">Red</mat-option>
      <mat-option value="Blue">Blue</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
    @if (vehicleForm.controls['color'].hasError('required')) {
      <mat-error>Color is required</mat-error>
    }
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="vehicleForm.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
