<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <div class="toolbar-left">
      <button matIconButton (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="toolbar-right">
      <button class="user-menu-button" matButton [matMenuTriggerFor]="userMenu">
        {{ username || 'User' }}
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
       <div class="user-menu-header">
          Email <strong>{{ email }}</strong>
        </div>
        <div class="user-menu-header">
        Role <strong>{{ userRole }}</strong>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/api/vehicles']" routerLinkActive="active">Details</a>
        <a mat-list-item [routerLink]="['/api/posts']" routerLinkActive="active">News</a>
        <a mat-list-item [routerLink]="['/api/banks']" routerLinkActive="active">Bank Details</a>
        <a mat-list-item [routerLink]="['/api/branches']" routerLinkActive="active">Branches</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
