<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="credentials.username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="credentials.password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <p>Don't have an account? <a href="auth/register">Register</a> </p>
      </form>
      <div *ngIf="message" class="message-container">{{ message }}</div>
    </mat-card-content>
  </mat-card>
</div>
